.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 720px;
  background-color: rgb(189, 207, 170);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  border: 1px solid #ffffff;
}
