.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
  } 
  
  .EmojiBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100px;
  }
  
  .emoji {
    font-size: 40px;
  }
  
  .EmojiNumber {
    font-size: 20px;
  }


  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    margin: 90px;
    text-align: center;
    color: #000000;
    background-color: rgb(117, 181, 26);;
    cursor: pointer;
  }