.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: rgb(0, 0, 0);
} 
  
  .EmojiBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100px;
  }
  
  .emoji {
    font-size: 40px;
  }
  
  .EmojiNumber {
    font-size: 20px;
  }


